<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="icon" type="png" href="../Media/pagina.png">
    <link rel="stylesheet" href="../CSS/estilos.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../CSS/gal.css">
    <link rel="stylesheet" href="../CSS/cont.css">
</head>
<body>
    <header>
        <div class="container__header">
            <div class="logo">
                <img src="../Media/Logo.png" alt="logo">
            </div>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="../views/nosotros.html">Nosotros</a></li>
                        <li><a href="#">Productos</a></li>
                        <li><a href="../views/servicios.html">Servicios</a></li>
                        <li><a href="../views/galeria.html">Galería</a></li>
                        <li><a href="../views/contacto.html">Contacto</a></li>
                        <li><a href="../content/CATALOGO_22.pdf" target="_blank">Promociones</a></li>
                    </ul>
                </nav>
            </div>
            <i class='bx bx-menu' id="icon_menu"></i>
        </div>
    </header>

    <main>
        <div class="cover">
            <div class="imgContact">
                <div class="txt__contact">
                    <h2>Contacto</h2>
                </div>
            </div>
        </div>
        <div class="telef">
            <div class="txt__telef">
                <h2>Teléfonos: 55 1858 8151 y 55 8997 2641 <br>
                Correo electrónico: <a href="#">contacto@raver.mx</a></h2>
            </div>  
        </div>
        <div class="center">
        <div class="referencias">
            <div class="txt__contacto">
                <h2>Dirección</h2>
                <p>Rey Maxtla 202. <br>
                San Franciso Tetecala. <br>
                Azcapotzalco, 02730 <br>
                CDMX</p>
            </div>
        <div class="form__container">
            <form  action="../enviar.php" method="POST">
                <div class="grid__container">
                    <div class="grid-form">
                        <div class="input In__1">
                            <input type="text" class="inputs in-1" name="name" id="name" placeholder="Nombre">
                        </div>
                        <div class="input In__2">
                            <input type="email" class="inputs in-2" name="mail" id="mail" placeholder="Correo@example.com">
                        </div>
                        <div class="input In__3">
                            <input type="text" class="inputs in-3" name="fact" id="fact" placeholder="Asunto">
                        </div>
                        <div class="input In__4">
                            <input type="text" class="inputs in-4" name="message" id="message" placeholder="Mensaje">
                        </div>
                    </div>
                </div>
                <button type="submit" class="bttn">Enviar</button>
            </form>
        </div>
        </div>
        </div>
    </main>

    <footer>
        <div class="container__footer">
            <div class="oficinas">
                <h2>Oficinas</h2>
                <p>Rey Maxtla 202. <br>
                    San Francisco Tetecalas. <br>
                    Azcapotzalco, 02730. CDMX.
                </p>
            </div>
            <div class="telefonos">
                <h2>Teléfonos</h2>
                <p>55 1858 8151</p>
                <p>55 8997 2641</p>
            </div>
            <div class="siguenos">
                <h2>Síguenos</h2><br>
                <a href="https://www.facebook.com/gruporaver" target="_blank" class="fb"><i class='bx bxl-facebook-square bx-md'></i></a>
                <a href="https://www.linkedin.com/company/raver-aplicaciones-s-a-de-c-v/" target="_blank" class="lin"><i class='bx bxl-linkedin-square bx-md' ></i></a>
                <a href="https://twitter.com/RaverLabware" target="_blank" class="twttr"><i class='bx bxl-twitter bx-md' ></i></a>
            </div>
        </div>
        <div class="container__footer-sa">
            <div class="textft">
                <p>© 2022 Raver Aplicaciones S.A. de C.V.</p>
                <a href="../views/aviso.html"> Aviso de Privacidad.</a>
            </div>
        </div>
    </footer>
    <script src="../JS/script.js"></script>
</body>
</html>