<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" type="png" href="../Media/pagina.png">
    <link rel="stylesheet" href="../CSS/estilos.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    
    <header>
        <div class="container__header">
            <div class="logo">
                <img src="../Media/Logo.png" alt="logo">
            </div>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="../views/nosotros.html">Nosotros</a></li>
                        <li><a href="#">Productos</a></li>
                        <li><a href="../views/servicios.html">Servicios</a></li>
                        <li><a href="../views/galeria.html">Galería</a></li>
                        <li><a href="../views/contacto.html">Contacto</a></li>
                        <li><a href="../content/CATALOGO_22.pdf" target="_blank">Promociones</a></li>
                    </ul>
                </nav>
            </div>
            <i class='bx bx-menu' id="icon_menu"></i>
        </div>
    </header>
    <main>

        <div class="cover">
            <div class="img__nosotros">
                <img src="../Media/celulas.jpg" id="cela" class="img__nosotros-img" alt="Celulas">
            </div>
            <div class="txt__explicacion">
                <h1>¿Quiénes somos?</h1>
                <p>Contamos con un grupo de ingenieros, químicos 
                    y técnicos especializadas para satisfacer cada una de 
                    sus necesidades de diseño, calibración, calificación  
                    y validación.
                </p>
                <p>Ofrecemos a nuestros clientes diferentes tipos de 
                    contratos que le ayudan a mantener el control 
                    presupuestal desde un servicio de mantenimiento 
                    preventivo hasta servicios de mantenimiento
                    correctivo limitados
                </p>
            </div>
        </div>
        <div class="mision__container">
            <div class="mision">
                <h1 id="mision">MISIÓN</h1>
                <p id="mision">Grupo Raver Aplicaciones, tiene la misión de <br>
                    ofrecer los mejores productos y servicios <br>
                    con precios competitivos respaldados bajo <br>
                    un estricto control para atender las demandas <br>
                    de nuestro cliente.
                </p>
            </div>
        </div>
        <div class="sep"></div>
        <div class="vision__container">
            <div class="vision">
                <h1>VISIÓN</h1>
                <p>Grupo Raver Aplicaciones, tiene la misión de <br>
                    ofrecer los mejores productos y servicios <br>
                    con precios competitivos respaldados bajo <br>
                    un estricto control para atender las demandas <br>
                    de nuestro cliente.
                </p>
            </div>
        </div>
        <div class="sep-2"></div>
        <div class="politica__container">
            <div class="politica">
                <h1>POLÍTICA DE CALIDAD</h1>
                <p>Ser una empresa comprometida a <br>
                    satisfacer y rebasar las expectativas de los <br>
                    clientes, entregando servicios profesionales <br>
                    y de calidad de las calibraciones, <br>
                    validaciones y calificaciones.
                </p>
                <p>
                    La dirección general toma las acciones <br>
                    necesarias con el personal, sistemas <br>
                    informáticos, costos, imagen, tecnología, <br>
                    inversión y seguridad en el trabajo para <br>
                    asegurar a la competitividad de la empresa y <br>
                    el mantenimiento del sistema de gestión de <br>
                    calidad.
                </p>
            </div>
    </main>
    <footer>
        <div class="container__footer">
            <div class="oficinas">
                <h2>Oficinas</h2>
                <p>Rey Maxtla 202. <br>
                    San Francisco Tetecalas. <br>
                    Azcapotzalco, 02730. CDMX.
                </p>
            </div>
            <div class="telefonos">
                <h2>Teléfonos</h2>
                <p>55 1858 8151</p>
                <p>55 8997 2641</p>
            </div>
            <div class="siguenos">
                <h2>Síguenos</h2><br>
                <a href="https://www.facebook.com/gruporaver" target="_blank"><i class='bx bxl-facebook-square bx-md'></i></a>
                <a href="https://www.linkedin.com/company/raver-aplicaciones-s-a-de-c-v/" target="_blank"><i class='bx bxl-linkedin-square bx-md' ></i></a>
                <a href="https://twitter.com/RaverLabware" target="_blank"><i class='bx bxl-twitter bx-md'></i></a>
            </div>
        </div>
        <div class="container__footer-sa">
            <div class="textft">
                <p>© 2022 Raver Aplicaciones S.A. de C.V.</p>
                <a href="../views/aviso.html"> Aviso de Privacidad.</a>
            </div>
        </div>
    </footer>
    <script src="../JS/script.js"></script>
</body>
</html>